.card-body {
    margin-left: 30px;
    font-size: 50px;
    text-align: end;
    background-color: lightblue;
}

.form {
    margin-left: 15px;
}

.btn {
    padding-right: 145px;
    margin-left: 30px;
    margin-top: 15px;
}